@import "../../../styles/variables";
@import "../../../styles/mixins";

.newMessageInput {
    @include setFlex();
    align-items: flex-end;
    max-width: calc(100vw - 400px);

    @media (max-width: 1000px) {
        max-width: calc(100vw - 200px);
    }

    &__input {
        @include setFlex(row);
        margin: 18px;

        @media (max-width: 576px) {
            margin: 10px;
            font-size: $smallMessageTextSize !important;  /* for some reason browser prefers input[type="text"] property equals to 18px */
        }
    }

    &__fileInput {
        opacity: 0;
        width: 1px;
        height: 1px;
    }

    &__fileInputLabel {

        &__img {
            width: 40px;
            height: 40px;
            max-width: 40px;
            max-height: 40px;
            min-height: 40px;
            min-width: 40px;
            margin: 20px 0 20px 20px;
            cursor: pointer;
            transition: .2s;
            border-radius: 4px;
            object-fit: cover;

            &:hover {
                -webkit-filter: brightness(0);
                filter: brightness(0);
                width: 45px;
            }
        }
    }
    
    &__btn {
        width: 35px;
        height: 35px;
        margin: 20px 20px 30px 0;
        transition: $transitionTime;
        cursor: pointer;

        @media (max-width: 576px) {
            width: 20px;
            height: 20px;
            margin: 10px 10px 10px 0;
        }

        &:hover {
            filter: brightness(0%);
            width: 45px;

            @media (max-width: 576px) {
                width: 25px;
            }
        }
    }
}