@import "../../styles/variables";
@import "../../styles/mixins";

.header {
    font-family: "Kanit", sans-serif;
    font-style: italic;
    @include setFlex(row, 0, space-between, center);
    background-color: $primaryColor;
    height: 65px;
    width: 100%;

    &__title {
        font-size: $headerTextSize;
        color: black;
        font-weight: 600;
        cursor: default;
        margin-left: 30px;

        @media (max-height: 600px) {
            font-size: $smallHeaderTextSize;
        }

        @media (max-width: 576px) {
            margin-left: 10px;
            font-size: $smallHeaderTextSize;
        }
    }

    svg {
        width: 45px;
        height: 45px;
        margin-right: 30px;
        cursor: pointer;

        @media (max-height: 600px) {
            width: 30px;
            height: 30px;
        }

        @media (max-width: 576px) {
            margin-right: 10px;
            width: 30px;
            height: 30px;
        }
    }
}