@import "../../../styles/variables";
@import "../../../styles/mixins";

.chatItem {
    $self: &;
    background: $primaryColor;
    @include setFlex();
    transition: $transitionTime;
    cursor: pointer;

    @media (max-width: 576px) {
        img {
            width: 50px;
            height: 50px;
        }
    }

    &__details {
        @include setFlex(column);
        max-height: 100px;
        transition-property: visibility;
        transition-delay: .5s;

        @media (max-width: 1000px) {
            visibility: hidden;
        }

        &__nameSurname {
            font-weight: bold;
            letter-spacing: 1px;
            margin-top: 20px;
            margin-left: 20px;

            @media (max-width: 1000px) {
                display: none;
            }
        }
        
        &__lastMessage {
            font-size: 13px;
            font-weight: lighter;
            color: $secondaryTextColor;
            margin-top: 20px;
            margin-left: 20px;

            @media (max-width: 1000px) {
                display: none;
            }
        }
    }

    &:hover {
        border-left: 5px solid $primaryColor;
        transition: $transitionTime;
    }

    &--active {
        background: $backgroundColor;
        color: $primaryTextColor;
        font-size: 30px;
        cursor: default;
    
        &:hover {  /* only to cancel leftPanel__convItem hover effect */
            border-left: none
        }
        
        #{ $self }__details__lastMessage {
            display: none;
        }
    }
    
    &--beforeActive {
        border-bottom-right-radius: 30px;

        @media (max-width: 1000px) {
            border-bottom-right-radius: 15px;
        }
    }
    
    &--afterActive {
        border-top-right-radius: 30px;

        @media (max-width: 1000px) {
            border-top-right-radius: 15px;
        }
    }
}