@import "../../../styles/variables";
@import "../../../styles/mixins";

.search {
    background: $primaryColor;
    @include setFlex();
    font-size: 18px;
    color: $secondaryTextColor;

    svg {
        filter: brightness(0);
        padding: 5px;
    }

    @media (max-width: 1000px) {
        display: none;
    }

    &__container {
        @include setFlex(column, 1);
    }
    
    &__queryInput {
        margin: 0 3px;
    }

    ul {
        padding: 0;
        margin: 0;
        border: none;

        li {
            display: block;
            padding: 2px 20px;
            border-radius: 4px;
            cursor: pointer;
            margin: 2px 6px 0 6px;
            transition: $transitionTime;

            &:hover {
                background: $secondaryColor;
                color: $primaryTextColor;
                transition: $transitionTime;
            }
        }
    }
}
