@import "../../styles/variables";
@import "../../styles/mixins";

.loginPage {
    background-color: $backgroundColor;
    @include setFlex(column, 1, center, center);

    &__title {
        font-family: "Kanit", sans-serif;
        font-size: $smallHeaderTextSize;
        font-weight: 600;
        color: $secondaryColor;
        padding-bottom: 30px;

        @media (max-width: 576px) {
            font-size: $messageTextSize;
        }
    }

    &__form {
        @include setFlex(column);
        font-size: 22px;
        font-family: "Kanit", sans-serif;
        color: white;
    }
    
    &__label {
        background: $black;
        border-radius: 10px;
        margin: 0 auto 0 10px;
        padding: 10px 20px;
        letter-spacing: 1px;
    }
    
    &__input {
        background: $black;
        font-family: "Kanit", sans-serif;
        font-size: 22px !important;
        text-align: center !important;
        letter-spacing: 1px;
        padding: 10px 20px !important;
        margin: 10px;
        border: none;
        outline: none;
    }

    &__authFailed {
        font-size: $messageTextSize;
        color: $secondaryColor;
        margin-top: 20px;
        letter-spacing: 1px;
    }

    &__signUpLink {
        color: #fab131 !important;
        text-decoration: underline !important;
        margin-top: 15px;
    }
}

footer {
    background: #eee;
    font-size: 13px;
    font-weight: lighter;
    color: #555;
    text-align: center;
    padding: 5px;
    letter-spacing: 1px;
}