$primaryColor: #E7EB59;
$secondaryColor: #FAB131;
$backgroundColor: #282C34;
$primaryTextColor: #FFFFFF;
$secondaryTextColor: #785518;

$tooltipBackgroundColor: #FA6314;
$black: #000000;

$blackTextColor: #000000;
$whiteTextColor: #FFFFFF;

$inputBackgroundColor: #000000;
$inputBorderColor: $secondaryColor;
$inputTextColor: #FFFFFF;
$inputTextSize: 18px;

$headerTextSize: 50px;
$smallHeaderTextSize: 30px;
$messageTextSize: 18px;
$smallMessageTextSize: 12px;
$tooltipTextSize: 11px;
$timeTextSize: 12px;
$smallTimeTextSize: 8px;

$transitionTime: .2s;